{% extends "base2.html" %}

{% block title %} Assinatura {% endblock %}

{% block content %}
<div class="container py-3">
<h1>Assinatura de produto</h1>
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Plano</label>
      <input type="text" class="form-control" id="inputEmail4" value={{prod}}> 
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Valor</label>
      <input type="text" class="form-control" id="inputEmail4" value={{valor}}>
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Senha</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Bairro</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Cidade</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Estado</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">CEP</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>

</div>
{% endblock %}